
*{
    box-sizing:border-box;
}

body{
    background-color:rgb(220, 231, 241);
    text-align:center;
    line-height:10px;
    font-family:monospace;
    font-size:12px;
}

.pro ul{
    display: flex;
    list-style:none;
    padding:0;
    justify-content:center;  /*we use display flex for making list horizontal thats why,we can't use text-align.*/
    align-items: center;     /*we use display flex for making list horizontal thats why,we can't use text-align.*/
    gap:18px;
    cursor: pointer;
}


.pro li{
    border:1px solid black;
    padding:7px;
    border-radius:8%;
}

.pro a i{
    
    margin-top:10px;
    height:40px;
    width:40px;
    line-height:40px;
    background-color:black;
    color:white;
    text-align:center;
    border-radius:50%;
    padding:0px;
    font-size:18px;
    transition:0.3s
}

.pro a i:hover{
    background-color:#383838;
}


.imga{
    border-radius:50%;
}

.big{
    margin-left:15px;
}

.pro{
    border:none;
    margin:20px auto;
    padding:20px;
    width:300px;
    height:400px;
    border-radius:10px;
    text-align: center;
    background-color:rgb(237, 237, 237);
    box-shadow:1.5px 1.5px 6px rgb(0,0,1,1);
}